@import "tailwindcss";

:root {
  --primary: #ecf0f7;
  --secondary: #fff;
  --button-color: #111111;
  --label-color: #333333;
  --border-color: #0000002e;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border-color);
  --color-button: var(--button-color);
  --color-label: var(--label-color);
  --font-main: var(--font-main);
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}
